@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Kamikaze';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Kamikaze.ttf) format('opentype');
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
